@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/fonts/PlusJakartaSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/fonts/PlusJakartaSans-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: white;
  font-size: min(max(12px, 5vh), 32px);
}

.div-center {
  display: flex;
  place-items: center;
}

/* Needed for stacking elements vertically */
.div-vert {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  height: 100%;
}

.font-primary {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.65em;
  line-height: 2.5em;
  letter-spacing: 0.08em;
  color: #000000;
}

.font-secondary {
  font-family: "Baskerville";
  font-style: normal;
  font-weight: 600;
  font-size: 1.2em;
  line-height: 2em;
  color: #000000;
}

.green-button {
  display: inline-flex;
  gap: 20px;
  width: fit-content;
  font-size: 0.8em;
  border: black;
  /* height: min-content; */
  align-items: center;
  padding: 0.15em 0.5em;
  background-color: #1ed760;
  filter: drop-shadow(0px 0.25em 0.25em rgba(0, 0, 0, 0.25));
  border-radius: 2em;
  transition: background-color 0.25s ease;
}

.green-button:hover {
  background-color: #19ac4d;
}

/* Navbar stuff */
.nav-container {
  border-bottom: 2px solid black;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: max-content;
  width: 80%;
  margin: auto;
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar ul li {
  list-style: none;
  padding: 0.3em;
  margin: 0 0.3em;
}

.font-username {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 50px;
  letter-spacing: 0.06em;
  color: #000000;
}

/* Visualization area grid */
.vis-grid {
  display: grid;
  grid-template-rows: 1em max-content max-content max-content;
  grid-template-columns: 4fr 3fr;
  grid-template-areas:
    "year month"
    "dial most"
    "viewchange most"
    "lgraph lgraph";
  margin: 1vh 1vw;
  gap: 2.5em;
}

.item-year {
  display: flex;
  font-size: 1.3em;
  grid-area: year;
  margin: auto;
  place-items: center;
  text-wrap: wrap;
  text-anchor: middle;
}

.item-month {
  display: flex;
  font-size: 1.3em;
  grid-area: month;
  margin: auto;
  place-items: center;
  text-wrap: wrap;
}

.item-dial {
  display: flex;
  grid-area: dial;
  align-items: center;
  flex-direction: column;
}

.item-most {
  margin: 1em 1em 1em 0em;
  display: flex;
  grid-area: most;
  flex-direction: column;
  gap: 0.5em;
  padding: 0.5em 0em;
  height: auto;
  max-height: 800px;
}

.item-most h3 {
  border-bottom: 2px solid black;
  grid-area: auto;
  width: max-content;

  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.7em;
  /* line-height: 1.5em; */
  letter-spacing: 0.06em;
  color: #000000;
}

.item-most .image-row {
  display: flex;
  flex-direction: row;
  margin: 0.6em 0px;
}

.item-most .image-row .sample {
  display: flex;
  align-items: center;
  width: 2em;
  height: 2em;
  border: 3px solid black;
  background-color: rgba(0, 0, 0, 0.25);

  font-family: "Courier New", Courier, monospace;
  font-size: 2.4em;
  font-weight: normal;
  line-height: 0.5em;
  color: black;
}

/* The SVG visualization */
.monthArc {
  fill: none;
  stroke: white;
  stroke-width: 2px;
}

.monthText {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: normal;
  font-weight: 1000;
  /* font-size: 0.65em;
  line-height: 2.5em;
  letter-spacing: 0.20em; */
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 7px;

  fill: white;
  color: white;
  /* stroke: black;
  stroke-width: 1px; */
  cursor: pointer;
  /* mix-blend-mode: difference; */
}

.moodsText {
  /* font-family: 'Baskerville', sans-serif; */
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  /* font-size: 30px; changed inside dial.jsx */
  letter-spacing: 2px;

  text-anchor: middle;
  mix-blend-mode: multiply;
  stroke: black;
  stroke-width: 1px;
}

.currentMonthText {
  /* font-family: 'Baskerville', sans-serif; */
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: normal;
  font-weight: 800;
  /* font-size: 30px; changed inside dial.jsx */
  letter-spacing: 2px;

  text-anchor: middle;
  mix-blend-mode: multiply;
  stroke: black;
  stroke-width: 1px;
}

.lens-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1em;
  margin: 1em;
}

.lens-buttons button {
  padding: 0.5em;
  border: none;
  border-radius: 1em;
  background-color: #55c667ff;
  color: black;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.55em;
  line-height: 2em;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

.image-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  font-size: 0.5em;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.image-container img {
  width: 60%;
  height: auto;
}

.legend {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.4em;
  line-height: 2em;
  letter-spacing: 0.06em;
  color: #000000;
  display: flex;
}

.legend div {
  display: flex;
  align-items: center;
  gap: 0.5em;
  min-width: 100px;
  align-self: center;
  height: 10px;
  margin: 0.5em;
}

.div-lgraph {
  width: 100%;
  /* height: 75vh; */
  height: auto;
  /* display: flex; */
  /* flex-direction: row; */
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  gap: 100px;
  padding: 0px 100px;
  grid-area: lgraph;
}

.linegraph {
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}

.linegraph-tick-labels {
  font-family: "Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 0.85em;
  line-height: 2em;
  color: #000000;
}

.linegraph-labels {
  font-family: "Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4em;
  line-height: 2em;
  color: #000000;
  text-anchor: middle;
}

.data-select {
  border-radius: 2em;
}
.item-viewswitcher {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* visibility: hidden; */
  grid-area: viewchange;
  gap: 1em;
}
