*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/fonts/PlusJakartaSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/fonts/PlusJakartaSans-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: white;
}

.div-center {
  display: flex;
  place-items: center;
}

/* Needed for stacking elements vertically */
.div-vert {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  height: 100vh;
}

.font-primary {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.08em;
  color: #000000;
}

.font-secondary {
  font-family: 'Baskerville';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  color: #000000;
}

.green-button {
  display: inline-flex;
  gap: 20px;
  width: fit-content;
  align-items: center;
  padding: 5px 20px;
  background-color: #1ED760;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 30px;
  transition: background-color 0.25s ease;
}

.green-button:hover {
  background-color: #19ac4d;
}

/* Navbar stuff */
.nav-container {
  border-bottom: 2px solid black;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 80%;
  margin: auto;

}

.navbar ul {
  display: flex;
}

.navbar ul li {
  list-style: none;
  padding: 10px;
  margin: 0 10px;
}

.font-username {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.06em;
  color: #000000;
}